* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
body {
    background-color: #891515;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela-celular {
    width: 300px;
    height: 600px;
    background: #222;
    border-radius: 30px;
    box-shadow: 0 0 30px 6px #ffffff, 0 0 0 6px #222;
    overflow: hidden;
    position: relative;
    border: 6px solid #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tela {
    width: 100%;
    height: 100%;
    background-size: cover;      /* Preenche todo o celular */
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.5s;
}
 
  #botao-iniciar {
    position: absolute;
    bottom: 105px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 24px;
    background-color: #ffcd0500;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

.alternativa {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #2a75bb;
    font-weight: bold;
   
}

.resultado {
    position: absolute;
    bottom: 40px;
    left: 30%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 20px;
    border-radius: 10px;
    display: none;
}

#tela-bloqueio {
    width: 100%;
    height: 100%;
    background-size: 100% 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    display:none; 
    background-image: url('./IMG/naopode.png'); 
    background-size: 100% 100%; 
    background-position: center;
}

#btn-voltar-inicio {
    position: absolute;
    left: 50%;           /* Centraliza horizontalmente */
    bottom: 80px;        /* Afasta do fundo da tela */
    transform: translateX(-50%);
    width: 120px;        /* Tamanho desejado */
    height: 40px;
    background-color: transparent;
    color: transparent;
    border: none;
    font-size: 0;
    cursor: pointer;
    z-index: 20;
}
#tela-inicio{
  background-image: url('./IMG/capa.jpeg');
}

#tela-fase2 {
    width: 100%;
    height: 100%;
    background-size: 100% 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    display:none; 
    background-image: url('./IMG/faseDois.jpeg'); 
    background-size: 100% 100%; 
    background-position: center;
}

#tela-fase3{
  display:none; 
  background-image: url('./IMG/capaTres.jpeg'); 
  background-size: 100% 100%; 
  background-position: center;
}


#btn-iniciar-fase2 {
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    width: 200px;
    height: 40px;
    background-color: transparent;
    color: transparent;
    border: none;
    font-size: 0;
    cursor: pointer;
    z-index: 20;
}
#tela-terceira-fase {
    width: 100%;
    height: 100%;
    background-size: 100% 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}

#btn-iniciar-fase3 {
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    width: 200px;
    height: 40px;
    background-color: transparent;
    color: transparent;
    border: none;
    font-size: 0;
    cursor: pointer;
    z-index: 20;
}
#tela-final {
    width: 100%;
    height: 100%;
    background-size: 100% 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    display:none; 
    background-image: url('./IMG/final.png'); 
    background-size: 100% 100%; 
    background-position: center;
}

#btn-voltar-inicio-final {
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    width: 120px;
    height: 40px;
    background-color: transparent;
    color: transparent;
    border: none;
    font-size: 0;
    cursor: pointer;
    z-index: 20;
}